@media (max-width: 880px){
    .mobile480{
        display: flex;
    }
    .mobile-none{
        display: none;
    }
    section{
        margin-bottom: 64px!important;
    }
    p, h1, h2, h3, h4, h5, h6, span, label, a{
        font-family: 'Switzer';
        color:#1D1D1D;
    }
    .sub-headline{
        font-weight: 500;
        font-size: clamp(24px, 3vw, 48px);
        line-height: clamp(32px, 3vw, 56px);
        letter-spacing: 0.5%;
    }
    .body-small{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }
    .body-large{
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
    }
    .body-special{
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
    }
    .body-special500{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }
    .cursor {
        height: 144px;
        width: 144px;     
    }
    /*Header ///////////////////////////////////////////////*/
    .header-main-box{
        gap: 0px;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
    }
    .header-submain-box{
        padding: 24px 0;
    }
    .header-submain-box:first-child .header-nav{
        display: none;
    }
    .header-submain-box:first-child{
        position: absolute;
        top: 0;
        left: 0;
    }
    .header-submain-box:last-child{
        width: calc(100%);
        justify-content: end;
        padding-top: 0px;
        gap: 24px;
    }
    .header-submain-box:last-child li:first-child{
        display: none;
    }
    .header-burger{
        width: 22px;
        height: 22px;
    }
    #catalog-page .header-logo{
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        height: 22px;
    }
    #catalog-page .header-submain-box:last-child{
        width: calc(50%);
        justify-content: end;
        padding-top: 0px;
        gap: 24px;
    }
    #catalog-page .active-page-mobile{
        display: flex;
        width: max-content;
        position: relative;
    }
    #catalog-page .active-page-mobile::before{
        /*content: url(img/home/Up.svg);*/
        position: absolute;
        top: calc(24px + 19px);
        left: calc(50% - 16px);
        background-image: url('img/home/Up.svg');
        background-size: 32px 32px;
        display: inline-block;
        width: 32px; 
        height: 32px;
        content:"";
    }
    /*Трехуровневый текст//////*/
    .h2-title{
        margin-bottom: 32px;
    }
    .h2-title-big{
        width: 100%;
    }
    .h2-title-big>h2:nth-child(2){
        width: 100%;
        text-align: end;
    }
    .h2-title-big>h2:nth-child(3){
        width: 100%;
        text-align: center;
    }
    .h1-title{
        gap: 32px;
        margin-bottom: 48px;
    }
    .h1-title-big{
        width: 100%;
    }
    .h1-title-small{
        width: 100%;
    }
    .h1-title-small>p{
        width: calc(100%);
    }
    /*Секция с росписью ///////////////////////////////////////////////*/
    .signature-box{
        margin: 0;
        position: relative;
    }
    .signature-box h3{
        margin-bottom: 128px;
    }
    .signature-img{
        width: 100%;
        bottom: 15%;
        right: 2%;
        left: 2%;
    }
    /*Мини заголовок с фигурой*/
    .mini-title{
        gap: 16px;
        margin-bottom: 32px;
    }
    /*Секция о нас на главной ///////////////////////////////////////////////*/
    .content.about-home-box{
        width: 100%!important;
    }
    .about-home-box{
        gap: 16px;
        width: 100%;
        overflow-x: scroll;
        flex-wrap: nowrap;
        border-radius: 8px;
    }
    .about-home-item:first-child{
        margin-left: 2.5vw;
    }
    .about-home-item{
        min-width: calc(65% - 16px - 48px);
    }
    .about-home-top-text{
        gap: 24px;
    }
    .about-home-bottom-text{
        gap: 8px;
    }
    /*Секция новая коллекция ///////////////////////////////////////////////*/
    #newCollectionTitleSmallChangeColor{
        transition: .9s;
    }
    /**/
    .new-collection-product-box{
        width: 100%;
        gap: 8px;
        flex-wrap: wrap;
    }
    .product-item:not(.swiper-slide){
        width: calc(50% - 4px);
    }
    .product-img{
        height: 33vw;
    }
    .product-item-big:not(.swiper-slide){
        width: calc(100%);
    }
    .product-item-big .product-img{
        height: 100vw;
    }
    .product-item-big .product-text-name{
        width: calc(100%);
    }
    .product-item-big .product-text-price{
        width: calc(100%);
    }
    .product-item-big .product-text-price>p{
        width: calc(50% - 8px);
    }
    .product-item-big .product-text-price>p:last-child{
        width: calc(50% - 8px);
        text-align: end;
    }
    .product-item-info{
        gap: 8px;
    }
    .new-collection-product-box .product-item-info-box{
        order: 1;
    }
    .new-collection-product-box .product-item:last-child{
        order: 2;
    }
    .product-text-price>p{
        width: 100%;
        text-align: start;
    }
    .product-item:nth-child(5){
        display: none;        
    }
    .product-item-big .product-pagination,
    .product-item-big .product-size{
        width: calc(100%);
    }
    /*Секция сотрудники на главной////////////////////////////////////////*/
    .employee-item:nth-child(2){
        border-top: 1px solid #1D1D1D;
    }
    .employee-item-cursor.cursor{
        width: 358px;
        height: 0px;
        position: relative;
        margin: 0px auto;
        transition: .4s;
        /*opacity: 1; */
    }
    .employee-item-head{
        margin-bottom: 24px;
    }
    .employee-item-head p{
        display: none;
    }
    .employee-item-head p:first-child{
        width: calc(100%);
        display: flex;
    }
    .employee-item-text{
        padding: 24px 0;
        gap: 0;
    }
    .employee-item-text p:first-child{
        width: calc(100%);
        height: max-content;
        opacity: 1;
        justify-content: space-between;
    }
    .employee-item-text p:first-child::after{
        content: url(img/home/Polygon.svg);
        transition: .8s;
    }
    .employee-item-hover-employee-item-text p:first-child::after{
        content: url(img/home/Polygon.svg);
        transform: rotate(270deg);
        margin-right: 3px;
        transition: .8s;
    }
    .employee-item-text p:last-child{
        width: calc(100%);
    }
    .employee-item-text p{
        width: calc(100%);
        height: 0;
        opacity: 0;
        transition: .4s;
    }
    .under-line{
        width: 100%;
    }
    .employee-item:hover .employee-item-text p:last-child {
        height: 0;
        opacity: 0;
        transition: .4s;
    }
    .employee-item-hover-employee-item-text{
        gap: 16px!important;
        transition: .4s!important;
    }
    .employee-item-hover-cursor{
        height: 358px!important;
        opacity: 1!important;
        transition: .4s!important;
        margin: 8px auto;
    }
    .employee-item-hover-employee-item-text-p{
        height: max-content!important;
        opacity: 1!important;
        transition: .4s!important;
    }
    /*Секция бренды на главной ///////////////////////////////////////////////*/
    .brand-box.brand-box-white{
        padding: 0;
        width: 100%;
        height: 100%!important;
    }
    .brand-box-cursor1{
        width: 100%;
        height: 100%;
    }
    /*Секция топовые продукты ///////////////////////////////////////////////*/
    .shop-the-col{
        padding-left: 2.5vw;
        width: 100%;
        justify-content: end;
    }
    .shop-the-col .product-item-info{
        width: 45%;
        margin-left: calc(45% + 8px);
    }
    /*section Brandazine ////////////////////////////////////*/
    .brandazine-swiper-box{
        height: 110vh;
    }
    /*/*Секция viewed-item ///////////////////*/
    .viewed-item-cursor{
        width: 168px;
        height: 168px;
    }
    .viewed-item-text>p,
    .viewed-item-text>div{
        width: calc(50% - 8px);
    }
    .viewed-item-text>p:nth-child(2){
        width: calc(50% - 8px);
        text-align: end;
    }
    .viewed-item-text>div{
        display: none;
    }
    .viewed-item-text>p:first-child{
        width: calc(50% - 8px);
    }
    .viewed-item-text>p:last-child{
        width: calc(50% - 8px);
        text-align: end;
    }
    .viewed-item:last-child{
        margin-bottom: 48px;
    }
    /*footer*/
    footer{
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .footer-main-box{
        gap: 48px;
    }
    .footer-info-order{
        gap: 16px;
        width: calc(100%);
    }
    .footer-info,
    .footer-order,
    .footer-social,
    .footer-contact{
        width: calc(50% - 8px);
        gap: 16px;
    }
    .footer-contact a:last-child{
        margin-bottom: 48px;
    }
    .footer-social-contact{
        gap: 16px;
        width: calc(100%);
    }    

    /*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    /*Страница католога/////////////////////////////////////////////////////////////////////////////////////////////////////*/
    /*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
        
    /*Секция сортиовки и заголовка на странице каталога///////////////////////////////*/
    .catalog-title{
        width: calc(100%);
        margin-left: 0;
        margin-bottom: 32px;
    }
    .catalog-title h2{
        display: flex;
        flex-wrap: wrap;
    }
    .catalog-title span{
        width: 100%;
        text-align: end;
    }
    .chips-circle-low{
        width: 24px;
        height: 24px;
    }
    .catalog-chips-checked.chips-circle-low svg path{
        fill: #FFF;
    }
    .catalog-chips-main-box{
        margin-bottom: 24px;
        width: 100%;
    }
    .catalog-chips-box,
    .catalog-chips-box-overflow{
        width: calc(100%);
        gap: 8px;
        margin-right: 0;
        margin-bottom: 0;
        margin-top: 0;
    }
    .catalog-chips-box:first-child,
    .catalog-chips-box:last-child{
        width: calc(100%);
        margin: 0;
    }
    #catalog-chips-none-vis1{
        width: max-content;
        height: 0;
        max-height: 152px;
        transition: .5s;
        overflow-x: scroll;
        flex-wrap: nowrap;
    }
    #catalog-chips-none-vis2{
        height: 0;
        max-height: 152px;
        transition: .5s;
        overflow: hidden;
    }
    .catalog-sort-filter-btn-box{
        width: calc(100%);
        margin-bottom: 24px;
    }
    .catalog-display-img{
        width: 24px;
        height: 24px;
    }
    #catalog-display-svg1{
        opacity: 1;
        height: 100%;
        transition: opacity 1s;
    }
    #catalog-display-svg2,
    #catalog-display-svg3{
        opacity: 0;
        height: 0;
        transition: opacity 1s;
    }
    /*Секция с продуктами*/
    .catalog-product-box{
        gap: 8px;
    }
    .catalog-product-box .product-item-big:nth-child(n+9){
        display: none;
    }
    .catalog-product-box.grid{
        grid-template-columns: repeat(2, calc(50% - 4px));
    }
    .catalog-product-box.grid .product-item:not(.swiper-slide) {
        width: calc(100%);
        position: relative;
        flex-wrap: nowrap;
    }
    .catalog-product-box.grid .product-item:not(.swiper-slide):last-child {
        grid-column-start:2;
        grid-column-end: 3;
    }
    .catalog-product-box.grid .product-item:not(.swiper-slide).vertical-big-product-item {
        grid-column-start:1;
        grid-column-end: 3;
        grid-row-start:1;
        grid-row-end: 1;
    }
    .vertical-big-product-item{
        flex-direction: column;
    }
    .vertical-big-product-item .mySwiper {
        height: 200vw;
        width: calc(100%);
    }
    .vertical-big-product-item .product-right-box {
        width: calc(100%);
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 8px;
    }
    .vertical-big-product-item .product-text-box{
        height: max-content;
        justify-content: space-between;
        gap: 24px;
    }
    .vertical-big-product-item .product-text-box p{
        width: 100%;
        text-align: left;
    }
    .vertical-big-product-item .favorite-card {
        right: 0;
    }
    .vertical-big-product-item:hover .product-text-box{
        height: max-content;
    }
    .catalog-product-box.grid .vertical-big-product-info-item{
        grid-column-start:1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 5;
    }
    .vertical-info-box{
        width: calc(100%);
        height: calc(170vw);
    }
    .vertical-info-box:nth-child(3),
    .vertical-info-box:nth-child(4){
        display: none;
    }
    .catalog-product-box.grid .vertical-big-product-info-item.vertical-info-mobile{
        grid-column-start:1;
        grid-column-end: 3;
        grid-row-start: 9;
        grid-row-end: 9;
    }
    .vertical-info-mobile .vertical-info-box:nth-child(3),
    .vertical-info-mobile .vertical-info-box:nth-child(4){
        display: flex;
    }
    .vertical-info-mobile .vertical-info-box:nth-child(1),
    .vertical-info-mobile .vertical-info-box:nth-child(2){
        display: none;
    }
    .load-more{
        margin: 0 auto;
        margin-top: 48px;
        width: 24px;
        height: 24px;
    }
    .load-more-eclipse{
        transition: .2s;
    }
    /**/
    .catalogTopProdSwiper{
        width: 100%;
    }
    .catalogTopProdSwiper .swiper-wrapper{
        padding-left: 2.5vw;
    }
    /*<!--section whats-new-->////////////////*/
    section.section-margin16{
        margin-bottom: 16px!important;
    }
}