*{
    margin: 0;
    padding: 0;
}
.page{
    overflow-x: hidden;
}
.mobile-none{
    display: flex!important;
}
.mobile480{
    display: none!important;
}
main{
    min-height: 50vh;
}
@font-face {
	font-family: 'Switzer'; 
	src: url('fonts/Switzer-Variable.ttf'); 
}
.wrapper{
    margin: 0 auto;
}
body{
    width: 100%;
    overflow-x: hidden;  
}
body#prod-card-page{
    overflow: unset;
}
header, footer{
    overflow-x: hidden;  
}
.grid{
    display: grid;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.column-flex{
    flex-direction: column;
}
.row-flex{
    flex-direction: row;
}
li{
    text-decoration: none;
    list-style: none;
}
.content{
    margin: 0 auto;
    width: clamp(320px, 95vw, 1920px);
}
section{
    padding-bottom: 96px!important;
}
a{
    text-decoration: none;
}
p, h1, h2, h3, h4, h5, h6, span, label, a{
    font-family: 'Switzer';
    color:#1D1D1D;
}
h1{
    font-weight: 500;
    font-size: clamp(64px, 8.5vw, 160px);
    line-height: clamp(64px, 8.5vw, 160px);
    letter-spacing: 2%;
}
h2{
    font-weight: 500;
    font-size: clamp(64px, 5vw, 96px);
    line-height: clamp(64px, 5vw, 96px);
    letter-spacing: -1.5%;
}
h3{
    font-weight: 500;
    font-size: clamp(48px, 2vw, 64px);
    line-height: 64px;
    letter-spacing: -1%;
}
.sub-headline{
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.5%;
}
.body-small{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.body-large{
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}
.body-special{
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}
.span-line{
    text-decoration: underline;
}
.span-center-line{
    text-decoration:line-through;
}
.span-gray{
    color: #1D1D1D;
    opacity: .48;
}
.span-red{
    color: #E54145;
}
.text-uppercase{
    text-transform: uppercase;
}
.pointer{
    cursor: pointer;
}
img, video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cursor {
    height: 160px;
    width: 160px;     
    pointer-events: none;
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    z-index: 99;
    transition: opacity .2s;
}
/*BUTTON*/
.btn-arrow{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 0px;
    padding: 12px;
    border-radius: 12px;
    align-items: center;
    background-color: #1D1D1D;
    transition: .4s;
    cursor: pointer;
}
.btn-arrow svg{
    width: 17px;
    height: 14px;
    transition: .4s;
}
.btn-arrow svg path{
    stroke: #FFFFFF;
    transition: .4s;
}
.btn-arrow:hover svg{
    width: 17px;
    height: 14px;
    transition: .4s;
}
.btn-arrow.disabled svg path{
    opacity: .48;
    transition: .4s;
}
.btn-arrow.disabled{
    pointer-events: none;
    cursor: default;
    transition: .4s;
}
.btn-arrow:focus{
    gap: 8px;
    transition: .4s;
    position: relative;
}
.btn-arrow:focus svg{
    width: 14px;
    height: 14px;
    transition: .4s;
}
.btn-arrow:focus:before{   
    padding: 3px 16px;
    border-radius: 15px;
    content:"";
    display:block;
    position:absolute;
    z-index:-1;
    top:-4px;
    left:-4px;
    right:-4px;
    bottom:-4px;
    border: 3px solid #E54145;
    transition: .4s;
}
.btn-primary{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 0px;
    padding: 12px 60px;
    border-radius: 12px;
    align-items: center;
    background-color: #1D1D1D;
    width: max-content;
    transition: .4s;
    cursor: pointer;
}
.btn-primary p{
    color: #FFFFFF;
    transition: .4s;
}
.btn-primary svg{
    width: 0;
    transition: .4s;
}
.btn-secondary svg circle{
    fill: #FFFFFF;
    transition: .4s;
}
.btn-primary:hover{
    gap: 8px;
    transition: .4s;
}
.btn-primary:hover svg{
    width: 14px;
    height: 14px;
    transition: .4s;
}
.btn-primary.disabled p{
    opacity: .48;
    transition: .4s;
}
.btn-primary.disabled{
    pointer-events: none;
    cursor: default;
    transition: .4s;
}
.btn-primary:focus{
    gap: 8px;
    transition: .4s;
    position: relative;
}
.btn-primary:focus svg{
    width: 14px;
    height: 14px;
    transition: .4s;
}
.btn-primary:focus:before{   
    padding: 3px 16px;
    border-radius: 15px;
    content:"";
    display:block;
    position:absolute;
    z-index:-1;
    top:-4px;
    left:-4px;
    right:-4px;
    bottom:-4px;
    border: 3px solid #E54145;
    transition: .4s;
}
.btn-secondary{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 0px;
    padding: 12px 60px;
    border-radius: 12px;
    align-items: center;
    background-color: #FFFFFF;
    outline: 1px solid #1D1D1D;
    width: max-content;
    transition: .4s;
    cursor: pointer;
}
.btn-secondary p{
    color: #1D1D1D;
    transition: .4s;
}
.btn-secondary svg circle{
    fill: #1D1D1D;
    transition: .4s;
}
.btn-secondary svg{
    width: 0;
    transition: .4s;
}
.btn-secondary:hover{
    gap: 8px;
    transition: .4s;
}
.btn-secondary:hover svg{
    width: 14px;
    height: 14px;
    transition: .4s;
}
.btn-secondary.disabled p{
    opacity: .48;
    transition: .4s;
}
.btn-secondary.disabled{
    pointer-events: none;
    cursor: default;
    transition: .4s;
}
.btn-secondary:focus{
    gap: 8px;
    transition: .4s;
    position: relative;
}
.btn-secondary:focus svg{
    width: 14px;
    height: 14px;
    transition: .4s;
}
.btn-secondary:focus:before{   
    padding: 3px 16px;
    border-radius: 14px;
    content:"";
    display:block;
    position:absolute;
    z-index:-1;
    top:-5px;
    left:-5px;
    right:-5px;
    bottom:-5px;
    border: 2px solid #E54145;
    transition: .4s;
}
/*INPUT*/

input[type=text],
input[type=email],
input[type=number],
textarea{
    border: 1px solid #1D1D1D3D;
    border-radius: 12px;
    padding: 12px 16px;
    text-transform: uppercase;
    color: #1D1D1D7A;
    transition: .4s;

    background-image:url(img/input/Circle.png);
    background-position-x: -24px;
    background-position-y: center;
    background-repeat:no-repeat; 
}
input[type=number]::placeholder,
input[type=text]::placeholder,
input[type=email]::placeholder,
textarea::placeholder{
    color: #1D1D1D7A;
    transition: .4s;
    width: max-content;
    padding-right: 22px;

    background-image:url(img/input/Rectangle.png);
    background-position-x: calc(100% + 24px);
    background-position-y: center;
    background-repeat:no-repeat;
}
input[type=number]:hover,
input[type=text]:hover,
input[type=email]:hover,
textarea:hover{
    padding: 12px 16px;
    text-transform: uppercase;
    color: #1D1D1D;
    transition: .4s;
}
input[type=number]:hover::placeholder,
input[type=text]:hover::placeholder,
input[type=email]:hover::placeholder,
textarea:hover::placeholder{
    color: #1D1D1D;
    transition: .4s;
}
input[type=number]:focus-visible,
input[type=text]:focus-visible,
input[type=email]:focus-visible,
textarea:focus-visible{
    outline: 0;
    color: #1D1D1D;
    transition: .4s;
}
input[type=number]:focus-visible::placeholder,
input[type=text]:focus-visible::placeholder,
input[type=email]:focus-visible::placeholder,
textarea:focus-visible::placeholder{
    color: #1D1D1D;
    transition: .4s;
    background-position-x: 100%;
}
input[type=number].input-oninput,
input[type=text].input-oninput,
input[type=email].input-oninput,
textarea.input-oninput{
    transition: background-position-y .0s;
    padding-left: 38px!important;
    transition: .4s;
    background-position-x: 12px;
}
input[type=number]:disabled,
input[type=text]:disabled,
input[type=email]:disabled,
textarea:disabled{
    color: #1D1D1D3D;
    transition: .4s;
}
input[type=number]:read-only,
input[type=text]:read-only,
input[type=email]:read-only,
textarea:read-only{
    color: #1D1D1D3D;
    transition: .4s;
}
input[type=number]:focus:before,
input[type=text]:focus:before,
input[type=email]:focus:before,
textarea:focus::before{   
    padding: 3px 16px;
    border-radius: 15px;
    content:"";
    display:block;
    position:absolute;
    z-index:-1;
    top:-4px;
    left:-4px;
    right:-4px;
    bottom:-4px;
    border: 3px solid #E54145;
    transition: .4s;
}
/*Выпадающий список*/
.custom-select {
    position: relative;
    display: inline-block;
}
.custom-select p{
    font-size: 14px;
}
.select-selected {
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    border: 1px solid #1D1D1D3D;
    border-radius: 12px;
    transition: .4s;
}
.select-selected:focus::before{   
    padding: 3px 16px;
    border-radius: 15px;
    content:"";
    display:block;
    position:absolute;
    z-index:-1;
    top:-4px;
    left:-4px;
    right:-4px;
    bottom:-4px;
    border: 1px solid #E54145;
    transition: .4s;
}
.select-selected>p{
    color: #1D1D1D7A;
    transition: .4s;
}
.select-selected-polygon{
    width: 14px;
    height: 14px;
    transform: rotate(0);
    transition: .8s;
}
.select-selected-polygon-number-flag{
    width: 14px;
    height: 14px;
    margin-right: 4px;
}
.select-selected:hover{
    justify-content: space-between;
    align-items: center;
    transition: .4s;
}
.select-selected:hover>p{
    color: #1D1D1D;
    transition: .4s;
}
.select-selected:hover .select-selected-polygon{
    width: 14px;
    height: 14px;
    transform: rotate(-270deg);
    transition: .8s;
}
.select-selected-click{
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.select-selected-click .select-selected-polygon{
    transform: rotate(-450deg);
    transition: .8s;
}
.select-selected-click>p{
    color: #1D1D1D;
    transition: .4s;
}
.select-selected-click.select-selected:hover .select-selected-polygon{
    transform: rotate(-450deg);
    transition: .8s;
}
.select-items {
    position: absolute;
    display: none;

    background-color: #FFFFFF;
    width: calc(100% - 32px);
    justify-content: space-between;
    align-items: center;
    padding: 24px 15px 8px 15px;
    border: 1px solid #1D1D1D3D;
    border-radius: 12px;
    border-top: 1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    border-top-width: 90%;
    transition: .4s;

}
.select-items::before {
    content: '';
    border-top: 1px solid #1D1D1D;
    width: 90%;
    top: 0;
    left: 5%;
    position: absolute;
}
.select-items>div{
    padding-bottom: 8px;
    cursor: pointer;
    gap: 0px;
    align-items: center;
    transition: .4s;
}
.select-item-circle{
    width: 0px;
    height: 14px;
    transition: .4s;
}
.select-items>div:hover{
    gap: 8px;
}
.select-items>div:hover .select-item-circle{
    width: 14px;
}
/*Выпадающий список телефонов*/
.select-phone{
    width: 100%;
    flex-wrap: nowrap;
}
.select-phone .custom-select{
    width: 40%;
}
.select-phone .select-selected {
    justify-content: flex-start;
    align-items: center;
    padding: 8px 16px;
    border: 1px solid #1D1D1D3D;
    border-radius: 12px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: .4s;
}
.select-phone .select-selected-click{
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.select-phone input[type="text"] {
    width: calc(60% - 35px);
    border: 1px solid #1D1D1D3D;
    border-radius: 12px;
    padding: 12px 16px;
    text-transform: uppercase;
    color: #1D1D1D7A;
    transition: .4s;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;

    background-image:url(img/input/Circle.png);
    background-position-x: -24px;
    background-position-y: center;
    background-repeat:no-repeat; 
}
.select-phone input[type=text].input-oninput{
    transition: background-position-y .0s;
    padding-left: 38px !important;
    transition: .4s;
    background-position-x: 12px;
}
/*Header ///////////////////////////////////////////////*/
.header-main-box{
    gap: 16px;
    justify-content: space-between;
}
.header-submain-box{
    padding: 32px 0;
    gap: 1.7%;
    align-items: center;
}
.header-submain-box:first-child{
    width: calc(50% - 16px - 7%);
}
.header-submain-box:last-child{
    width: calc(50% - 16px - 7%);
    justify-content: end;
}
.header-burger{
    width: 22px;
    height: 22px;
}
.header-nav{
    gap: 1.7%;
    align-items: top;
    width: calc(100% - 22px - 1.7%);
}
.another-header{
    padding-bottom: 56px;
}
.header-nav-check{
    position: relative;
}
.header-nav-check::before{
    content: url(img/home/Up.svg);
    position: absolute;
    width: 32px;
    height: 32px;
    top: 32px;
    left: calc(50% - 8px);
}
.header-logo{
    width: 14%;
    max-width: 234px;
}
.active-page-mobile{
    display: none;
}
/*Секция главного свайпера ///////////////////*/
.main-swiper-box{
    width: 100%;
    height: 70vh;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    -webkit-mask-image: url(img/Mask.png);
    mask-image: url(img/Mask.png);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;    
}
.main-swiper-back-img{
    width: 100%;
    height: 100%;
    background-color: #1D1D1D;
}
.main-swiper-back-img img{
    opacity: .8;
}
.main-swiper-text-box{
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    border-radius: 12px;
    position: absolute;
    padding: 20px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.main-swiper-text-box p{
    color: #FFFFFF;
}
/*Трехуровневый текст//////*/
.h2-title{
    gap: 48px;
    margin-bottom: 48px;
}
.h2-title-big{
    width: 50%;
}
.h2-title-big>h2:nth-child(2){
    width: 100%;
    text-align: end;
}
.h2-title-big>h2:nth-child(3){
    width: 100%;
    text-align: center;
}
.h1-title{
    gap: 48px;
    margin-bottom: 96px;
}
.h1-title-big{
    width: 70%;
}
.h1-title-big>h1:nth-child(2){
    width: 100%;
    text-align: end;
}
.h1-title-big>h1:nth-child(3){
    width: 100%;
    text-align: center;
}
.h1-title-small{
    width: 100%;
    justify-content: end;
}
.h1-title-small>p{
    width: calc(50% - 9.5%);
    margin-right: 9.5%;
}
/*Секция с росписью ///////////////////////////////////////////////*/
.signature-box{
    margin: 0 18.8%;
    gap: 16px;
    position: relative;
}
.signature-box h3{
    margin-bottom: 32px;
}
.signature-img{
    width: 45%;
    position: absolute;
    bottom: -10%;
    right: 0;
    z-index: -2;
}
.signature-img img{
    object-fit: contain;
}
/*Мини заголовок с фигурой*/
.mini-title{
    gap: 16px;
    margin-bottom: 48px;
}
.mini-title-img{
    width: 32px;
    height: 32px;
}
/*Секция о нас на главной ///////////////////////////////////////////////*/
.about-home-box{
    gap: 16px;
    width: 100%;
}
.about-home-item{
    width: calc(33% - 16px - 48px);
    min-height: 33vw;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    gap: 24px;
    padding: 24px;
    justify-content: space-between;
    transition: .4s;
}
.about-home-top-text{
    gap: 24px;
}
.about-home-bottom-text{
    gap: 8px;
}
.about-home-top-text p,
.about-home-bottom-text p,
.about-home-bottom-text span{
    color: #FFFFFF;
}
.about-home-top-text p.body-large,
.about-home-bottom-text{
    opacity: 0;
    transition: .4s;
}
.about-home-img{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    gap: 8px;
    position: absolute;
    z-index: -1;
    background-color: #1D1D1D;
}
.about-home-img img{
    opacity: .6;
    transition: .4s;
}
.about-home-item:hover{
    transition: .4s;
}
.about-home-item:hover .about-home-top-text p.body-large,
.about-home-item:hover .about-home-bottom-text{
    opacity: 1;
    transition: 2s;
}
.about-home-item:hover .about-home-img img{
    opacity: 0;
    transition: .4s;
}
/*Секция новая коллекция ///////////////////////////////////////////////*/
#newCollectionTitleSmallChangeColor{
    transition: .5s;
}
/**/
.new-collection-product-box{
    width: 100%;
    gap: 16px;
    flex-wrap: wrap;
}
.product-item:not(.swiper-slide){
    width: calc(20% - 13px);
    position: relative;
    flex-wrap: nowrap;
}
.product-img{
    width: 100%;
    height: 19vw;
    border-radius: 12px;
    overflow: hidden;
}
.product-right-box{
    flex-wrap: nowrap;
}
.product-text-box{
    align-items: end;
    justify-content: flex-start;
    padding: 24px 0px;
    gap: 8px;
    opacity: 1;
    transition: .4s;
}
.product-text-name{
    width: calc(100% - 4px);
    gap: 8px;
    justify-content: space-between;
}
.product-text-price{
    width: calc(100% - 4px);
    text-align: end;
    gap: 8px;
    justify-content: space-between;
}
.product-item-big:not(.swiper-slide){
    width: calc(50% - 8px);
}
.product-item-big .product-img{
    width: 100%;
    height: 49vw;
}
.product-item-big .product-text-name{
    width: calc(75% - 12px);
}
.product-item-big .product-text-price{
    width: calc(75% - 12px);
}
.product-item-info{
    gap: 8px;
}
.size-pag-box{
    width: 100%;
    gap: 14px;
    justify-content: end;
    align-items: end;
    transition: .4s;
    height: 0;
    opacity: 0;
    padding: 0;
}
.productImgSwiper .swiper-slide{
    border-radius: 12px;
    overflow: hidden;
}
.swiper-pagination-prod{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%!important;
}
.swiper-pagination-prod .swiper-pagination-bullet{
    width: 16px;
    height: 16px;
    background-color: #FFFFFF;
    border: 1px solid #1D1D1D;
    left: 0!important;
    right:0!important;
    top: 0!important;
    bottom: 0!important;
}
.swiper-pagination-prod .swiper-pagination-bullet.swiper-pagination-bullet-active{
    width: 16px;
    height: 16px;
    background-color: #1D1D1D;
    border: 1px solid #1D1D1D;
}
.product-pagination{
    width: 100%;
    justify-content: space-between;
    align-items: end;
    gap: 8px;
    display: none;
}
.product-size{
    width: 100%;
    justify-content: space-between;
    gap: 8px;
    display: none;
}
.product-item-big .product-pagination,
.product-item-big .product-size{
    width: calc(75%);
}
.product-item:hover .product-text-box{
    height: 0;
    opacity: 0;
    padding: 0;
    transition: .4s;
}
.product-item:hover .size-pag-box{
    height: max-content;
    opacity: 1;
    transition: .4s;
    padding: 24px 0px;
}
.product-item:hover .product-size,
.product-item:hover .product-pagination{
    display: flex;
}
.product-size>p:hover{
    text-decoration: underline;
    width: max-content;
    height: max-content;
}
.product-size>p{
    width: max-content;
    height: max-content;
    z-index: 99;
}
.sale-card{
    width: 64px;
    height: 64px;
    background-color: #1D1D1D;
    align-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.sale-card p{
    color: #FFFFFF;
    text-align: center;
}
.favorite-card{
    border: 32px solid transparent; 
    border-top: 32px solid #1D1D1D; 
    border-right: 32px solid #1D1D1D;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
}
.sale-card-none,
.favorite-card-none{
    display: none;
}
/*Секция сотрудники на главной////////////////////////////////////////*/
.employee-item-cursor.cursor{
    width: 358px;
    height: 358px;
}
.employee-item{
    width: 100%;
}
.employee-item-head{
    gap: 16px;
    width: 100%;
    margin-bottom: 16px;
}
.employee-item-head p{
    width: calc(30% - 11px);
}
.employee-item-head p:last-child{
    width: calc(40% - 11px);
}
.employee-item-text{
    gap: 16px;
    width: 100%;
    padding: 32px 0;
    overflow: hidden;
}
.employee-item-text p{
    width: calc(30% - 11px);
}
.employee-item-text p:last-child{
    width: calc(40% - 11px);
    height: 0;
    opacity: 0;
    transition: .4s;
}
.under-line{
    height: 1px;
    width: 0%;
    background-color: #1D1D1D;
    transition: 1.5s;
}

.employee-item:hover .under-line{
    width: 100%;
    transition: 1.5s;
}
.employee-item:hover .employee-item-text p:last-child{
    height: max-content;
    opacity: 1;
    transition: .4s;
}
/*Секция бренды на главной ///////////////////////////////////////////////*/
.brandsSwiper{
    width: 100%;
}
.brandsSwiper .swiper-wrapper{
    padding-left: 2.5vw;
}
.brand-box{
    border-radius: 12px;
    background-color: #1D1D1D;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 16px;
    position: relative;
}
.brand-box.brand-box-white{
    background-color: #FFFFFF;
}
.brand-box-red{
    opacity: 0;
    background-color: #E54145;
    border-radius: 16px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.brand-box.brand-box-white:hover .brand-box-red{
    opacity: 1;
    transition: .3s;
}
.brand-box-red p{
    color: #FFFFFF;
    text-align: center;
}
.brand-img{
    margin: 0 auto;
    width: 60%;
}
.brand-img img{
    object-fit: contain;
}
.brand-items{
    width: calc(100% - 32px);
    gap: 16px;
    justify-content: space-between;
    position: absolute;
    bottom: 16px;
    left: 16px;
    right: 16px;
}
.brand-items p:first-child{
    width: calc(50% - 8px);
    color: #FFFFFF;
    opacity: .48;
}
.brand-items p:last-child{
    width: calc(50% - 8px);
    color: #FFFFFF;
    text-align: end;
}
.brand-hover-figure{
    opacity: 0;
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: .2s;
    top: 16px;
    left: 16px;
}
.brand-box:hover .brand-hover-figure{
    opacity: 1;
    transition: .2s;
}
/*Секция топовые продукты ///////////////////////////////////////////////*/
.topProdSwiper{
    width: 100%;
}
.topProdSwiper .swiper-wrapper{
    padding-left: 2.5vw;
}
/*section Brandazine ////////////////////////////////////*/
.brandazineSwiper,
.whatsNewSwiper{
    width: 100%;
}
.brandazine-swiper-box{
    width: 100%;
    height: 70vh;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}
.brandazine-swiper-back-img{
    width: 100%;
    height: 100%;
    background-color: #1D1D1D;
}
.brandazine-swiper-back-img img{
    opacity: .8;
}
.brandazine-swiper-text-box{
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    border-radius: 12px;
    position: absolute;
    padding: 20px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.brandazine-swiper-text-box p{
    color: #FFFFFF;
}
/*/*Секция viewed-item ///////////////////*/
.viewed-item-cursor{
    width: 352px;
    height: 352px;
}
.viewed-item{
    width: 100%;
}
.viewed-item-head{
    gap: 16px;
    width: 100%;
    margin-bottom: 16px;
}
.viewed-item-text{
    gap: 16px;
    width: 100%;
    padding: 32px 0;
    overflow: hidden;
}
.viewed-item-text>p,
.viewed-item-text>div{
    width: calc(19% - 13px);
}
.viewed-item-text>p:first-child{
    width: calc(30% - 13px);
}
.viewed-item-text>p:last-child{
    width: calc(13% - 13px);
    text-align: end;
}
.viewed-item-text p:not(.text-uppercase){
    font-weight: 300;
}
.viewed-item-color{
    opacity: 0;
    transition: .4s;
    gap: 8px;
    align-items: center;
}
.viewed-item-color-img{
    width: 24px;
    height: 24px;
    overflow: hidden;
    border-radius: 50%;
}
.viewed-item:hover{
 /*ТУТ меняется курсор*/
}
.viewed-item:hover .viewed-item-color{
    opacity: 1;
    transition: .4s;
}
.viewed-item:hover .under-line{
    width: 100%;
    transition: 1.5s;
}
/*Секция бегущая строка с карточками товаров ///////////////////////////////////////////////*/
.speedStringSwiper,
.salesProdSwiper{
    width: 100%;
}
.salesProdSwiper .swiper-wrapper{
    padding-left: 2.5vw;
}
.speedStringSwiper .swiper-wrapper{
    transition-timing-function: linear;
}
.speedStringSwiper .swiper-slide{
    width: auto!important;
}

/*footer*/
footer{
    padding-top: 64px;
    padding-bottom: 48px;
    width: 100%;
    background-color: #1D1D1D;
}
footer a, footer p{
    color: #FFFFFF;
}
.footer-main-box{
    gap: 16px;
}
.footer-info-order{
    gap: 16px;
    width: calc(40% - 8px);
}
.footer-info,
.footer-order,
.footer-social,
.footer-contact{
    width: calc(50% - 8px);
    gap: 16px;
}
.footer-info a,
.footer-order a,
.footer-social a{
    opacity: .48;
}
.footer-contact a:last-child{
    margin-bottom: 56px;
}
.footer-info p:first-child,
.footer-order p:first-child{
    margin-bottom: 32px;
}
.footer-social-contact{
    gap: 16px;
    width: calc(60% - 8px);
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Страница католога/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    
/*чекьокс каталога ///////////////////////////////////////////////*/
.catalog-chips{
    padding: 3px 16px;
    border-radius: 37px;
    border: 1px solid #1d1d1d40;
    width: max-content;
    height: max-content;
    min-height: 14px;
    gap: 0px;
    transition: .4s;
    align-items: center;
    position: relative;
}
.catalog-chips:disabled p{
    opacity: .24;
}
.catalog-chips:focus:before{   
    padding: 3px 16px;
    border-radius: 37px;
    content:"";
    display:block;
    position:absolute;
    z-index:-1;
    top:-4px;
    left:-4px;
    right:-4px;
    bottom:-4px;
    border: 2px solid #E54145;
}
.chips-circle{
    width: 0px;
    height: 14px;
    transition: .4s;
}
.catalog-chips:hover {
    gap: 8px;
    transition: .4s;
}
.catalog-chips:hover .chips-circle{
    width: 14px;
    height: 14px;
    transition: .4s;
}
.catalog-chips.catalog-chips-checked{
    background-color: #1D1D1D;
    gap: 8px;
    transition: .4s;
}
.catalog-chips.catalog-chips-checked p{
    color: #FFFFFF;
    transition: .4s;
}
.catalog-chips.catalog-chips-checked .chips-circle{
    width: 14px;
    transition: .4s;
}
.catalog-chips.catalog-chips-checked .chips-circle svg circle{
    fill: #FFFFFF;
    transition: .4s;
}
.catalog-chips-red{
    padding: 3px 16px;
    border-radius: 37px;
    border: 1px solid #E54145;
    width: max-content;
    height: max-content;
    min-height: 14px;
    gap: 0px;
    transition: .4s;
    align-items: center;
}
.catalog-chips:disabled p{
    opacity: .24;
    color:#1D1D1D;
}
.catalog-chips:focus:before{   
    padding: 3px 16px;
    border-radius: 37px;
    content:"";
    display:block;
    position:absolute;
    z-index:-1;
    top:-4px;
    left:-4px;
    right:-4px;
    bottom:-4px;
    border: 2px solid #E54145;
}
.catalog-chips-red p {
    color:#E54145;
}
.chips-circle-red{
    width: 0px;
    height: 14px;
    transition: .4s;
}
.catalog-chips-red:hover {
    gap: 8px;
    transition: .4s;
}
.catalog-chips-red:hover .chips-circle-red{
    width: 14px;
    height: 14px;
    transition: .4s;
}
.catalog-chips-red.catalog-chips-checked{
    background-color: #E54145;
    gap: 8px;
    transition: .4s;
}
.catalog-chips-red.catalog-chips-checked p{
    color: #FFFFFF;
    transition: .4s;
}
.catalog-chips-red.catalog-chips-checked .chips-circle-red{
    width: 14px;
    transition: .4s;
}
.catalog-chips-red.catalog-chips-checked .chips-circle-red svg circle{
    fill: #FFFFFF;
    transition: .4s;
}
/*Секция сортиовки и заголовка на странице каталога///////////////////////////////*/
.catalog-chips-main-box{
    margin-bottom: 24px;
}
.catalog-title{
    width: calc(80%);
    margin-left: 20%;
    margin-bottom: 48px;
}
.catalog-chips-box{
    width: calc(60% - 8px - 5%);
    gap: 8px;
    margin-right: 5%;
    height: max-content;
}
.catalog-chips-box-overflow{
    width: 100%;
    gap: 8px;
}
.catalog-chips-box:first-child,
.catalog-chips-box:last-child{
    width: calc(20% - 8px);
    margin: 0;
}
.catalog-sort-filter-btn-box{
    justify-content: space-between;
    gap: 16px;
    width: calc(20% + 8px);
    align-self: end;
    margin-bottom: 32px;
}
.catalog-sort-filter-btn{
    gap: 32px;
}
.catalog-display-img{
    width: 24px;
    height: 24px;
}
#catalog-display-svg1{
    opacity: 1;
    height: 100%;
    transition: opacity 1s;
}
#catalog-display-svg2,
#catalog-display-svg3{
    opacity: 0;
    height: 0;
    transition: opacity 1s;
}
/*Секция с продуктами*/
.catalog-product-box{
    width: 100%;
    gap: 16px;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: end;
    transition: opacity .25s;
}
.catalog-product-box .product-item-big:nth-child(n+9){
    display: none;
}
.catalog-product-box.grid{
    grid-template-columns: repeat(5, calc(20% - 13px));
}
.catalog-product-box.grid .product-item:not(.swiper-slide) {
    width: calc(100%);
    position: relative;
    flex-wrap: nowrap;
}
.catalog-product-box.grid .product-item:not(.swiper-slide).vertical-big-product-item {
    grid-column-start:1;
    grid-column-end: 4;
    grid-row-start:1;
    grid-row-end: 3;
}
.vertical-big-product-item{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}
.vertical-big-product-item .mySwiper {
    height: 100%;
    width: calc(66.66% - 8px);
    margin-left: 0;
    margin-right: 0;
}
.vertical-big-product-item .product-right-box {
    width: calc(33.33% - 8px);
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 8px;
}
.vertical-big-product-item .product-text-box{
    height: 50%;
    justify-content: space-between;
    padding: 0;
}
.vertical-big-product-item .product-text-name p:first-child{
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}
.vertical-big-product-item .product-text-price p:first-child{
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}
.vertical-big-product-item .product-text-price p:last-child{
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.5%;
}
.vertical-big-product-item .size-pag-box {
    padding: 0;
}
.vertical-big-product-item .product-text-box p{
    width: 100%;
    text-align: left;
}
.vertical-big-product-item .favorite-card {
    right: calc(33.34% + 8px);
}
.vertical-big-product-item:hover .product-text-box{
    height: 50%;
    opacity: 1;
    padding: 0;
    transition: .4s;
}
.vertical-big-product-item:hover .size-pag-box{
    height: max-content;
    opacity: 1;
    transition: .4s;
    padding: 24px 0px;
}
.vertical-big-product-item:hover .product-size,
.vertical-big-product-item:hover .product-pagination{
    display: flex;
}
.vertical-big-product-info-item{
    display: none;
}
.catalog-product-box.grid .vertical-big-product-info-item{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 16px;

    grid-column-start:1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 7;
}
.vertical-info-box{
    width: calc(50% - 8px);
    height: calc(50% - 8px);
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}
.vertical-info-text{
    gap: 8px;
    position: absolute;
    top: 16px;
    left: 16px;
    bottom: 16px;
    right: 16px;
}
.vertical-info-sale{
    gap: 8px;
    position: absolute;
    left: 16px;
    bottom: 16px;
    right: 16px;
}
.vertical-info-sale>p{
    margin-left: calc(33% + 8px);
    color: #FFFFFF;
}
.vertical-info-procent{
    gap: 16px;
}
.vertical-info-procent>p:first-child{
    width: calc(33% - 8px);
    text-align: end;
    color: #FFFFFF;
}
.vertical-info-procent>p:last-child{
    width: calc(66% - 8px);
    text-align: start;
    color: #FFFFFF;
}
.vertical-info-img{
    width: 100%;
    height: 100%;
}
.load-more{
    margin: 0 auto;
    margin-top: 48px;
    width: 24px;
    height: 24px;
}
.load-more-eclipse{
    transition: .2s;
}
/**/
.catalogTopProdSwiper{
    width: 100%;
}
.catalogTopProdSwiper .swiper-wrapper{
    padding-left: 2.5vw;
}
/*<!--section whats-new-->////////////////*/
section.section-margin16{
    margin-bottom: 16px!important;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Карточка товара/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.product-card-main-box{
    gap: 16px;
}
.product-card-img-box{
    width: calc(45% - 8px);
    gap: 16px;
}
.product-card-img{
    width: 100%;
    height: 45vw;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}
.product-card-info-box{
    width: calc(55% - 8px);
    gap: 24px;
    position: sticky;
    top: 0%;
    height: max-content;
}
.product-card-first-info{
    gap: 16px;
    border-bottom: 1px solid #1D1D1D;
    padding-bottom: 24px;
}
.product-card-first-info>p{
    width: calc(100% - 8px);
}
.product-card-first-info .bread-crumbs{
    width: calc(100% - 8px);
    margin-bottom: 8px;
}
.product-card-color-box{
    width: 100%;
    gap: 16px;
}
.product-card-color-box>p{
    width: calc(40% - 8px);
}
.color-figure-box{
    width: calc(60% - 8px);
    gap: 16px;
    align-items: center;
}
.color-figure1{
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: #1D1D1D;
}
.color-figure2{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid gray;
    background-color: #FFFFFF;
}
.product-card-price-box{
    gap: 16px;
}
.product-card-size-box{
    gap: 24px;
}
.chips-size-product-card{
    gap: 8px;
}
.product-card-editors-note{
    width: 100%;
    gap: 16px;
}
.product-card-editors-note>p:first-child{
    width: calc(40% - 8px);
}
.product-card-editors-note>p:last-child{
    width: calc(60% - 8px);
}
.product-card-btn-box{
    width: 100%;
    gap: 16px;
}
.product-card-btn-box a{
    width: calc(40% - 8px - 120px);
}
.product-card-details-info-box{
    width: 100%;
    gap: 16px;
    border-bottom: 1px solid #1D1D1D;
    padding-bottom: 24px;
}
.product-card-details-info-left{
    width: calc(40% - 8px);
    gap: 16px;
    margin-bottom: 32px;
}
.product-card-details-info-right{
    width: calc(60% - 8px);
    gap: 16px;
    margin-bottom: 32px;
}
.product-card-brand-info-box{
    gap: 8px;
}
.product-card-details-color{
    margin-left: calc(40% + 8px);
    margin-bottom: 8px;
}
.product-card-details-btn-box{
    margin-left: calc(40% + 8px);
    margin-bottom: 0px;
}
.product-card-details-btn-box a{
    width: calc(100% - 120px);
}
.product-card-size-info-box{
    gap: 0px;
    width: 100%;
    flex-wrap: nowrap;
    transition: .4s;
    padding-bottom: 24px;
    border-bottom: 1px solid #1D1D1D;
}
.product-card-size-title-box{
    gap: 16px;
}
.product-card-size-title-box>p{
    width: calc(40% - 8px);
}
.product-card-size-title-right{
    width: calc(60% - 8px);
    gap: 16px;
    justify-content: space-between;
    flex-wrap: nowrap;
}
#productCardSizeTitleBox-dop-info{ 
    gap: 32px;
    flex-wrap: nowrap;

    max-width: 0;
    overflow: hidden;
    transition: max-width 0.4s ease-out;
}
.product-card-table-size{
    gap: 24px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    flex-wrap: nowrap;
}
.product-card-table-size-head{
    padding-bottom: 16px;
    border-bottom: 1px solid #1d1d1d16;
    gap: 8px;
}
.product-card-table-size-head>p{
    width: calc(20% - 7px);
}
.product-card-table-size-head>p:last-child{
    text-align: end;
}
.product-card-table-size-body{
    gap: 16px;
}
.product-card-table-size-row{
    gap: 8px;
}
.product-card-table-size-row>p{
    width: calc(20% - 7px);
}
.product-card-table-size-row>p:last-child{
   text-align: end;
}
.product-card-shipping-returns-box{
    gap: 20px;
    width: 100%;
    flex-wrap: nowrap;
}
.product-card-shipping-returns-title{
    gap: 16px;
}
.product-card-shipping-returns-title>p{
    width: calc(40% - 8px);
}
.product-card-shipping-returns-title-right{
    width: calc(60% - 8px);
    flex-wrap: nowrap;
}
.product-card-shipping-returns-text-box{
    width: 100%;
    justify-content: end;

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}
.product-card-shipping-returns-text-box p{
    width: calc(60% - 8px);
}
#productCardShippingReturns-polygon,
#productCardSizeTitleBox-polygon{
    width: 14px;
    height: 16px;
    transition: .8s;
}
.product-card-rotate-polygon{
    transform: rotate(270deg);
    transition: .8s;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Корзина/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.shopping-bag-title{
    width: calc(75%);
    margin-left: 25%;
    margin-bottom: 16px;
}
.bread-crumbs-top-title{
    width: calc(75%);
    margin-left: 25%;
    margin-bottom: 24px;
}
.shopping-bag-product-box{
    width: calc(80%);
}
.shopping-bag-product-box-head{
    width: 100%;
    border-right: 1px solid #1D1D1D3D;
    border-bottom: 1px solid #1D1D1D;;
}
.shopping-bag-product-box-head p:nth-child(1){
    width: calc(48% - 17px);
    padding: 0 0 24px 0;
    border-right: 1px solid #1D1D1D3D;
}
.shopping-bag-product-box-head p:nth-child(2){
    width: calc(11% - 17px);
    padding: 0 0 24px 16px;
    border-right: 1px solid #1D1D1D3D;
}
.shopping-bag-product-box-head p:nth-child(3){
    width: calc(30% - 17px);
    padding: 0 0 24px 16px;
    border-right: 1px solid #1D1D1D3D;
}
.shopping-bag-product-box-head p:nth-child(4){
    width: calc(12% - 16px);
    padding: 0 0 24px 16px;
}
.shopping-bag-product-row{
    width: 100%;
    border-right: 1px solid #1D1D1D3D;
}
.shopping-bag-product-row:nth-child(2) .shopping-bag-product-info{
    padding: 24px 0 16px 0;
}
.shopping-bag-product-row:nth-child(2) .shopping-bag-details,
.shopping-bag-product-row:nth-child(2) .hopping-bag-qty,
.shopping-bag-product-row:nth-child(2) .hopping-bag-total{
    padding: 24px 0 16px 16px;
} 
.shopping-bag-product-info{
    width: calc(48% - 17px);
    padding: 16px 0 16px 0;
    gap: 16px;
    border-right: 1px solid #1D1D1D3D;
}
.shopping-bag-product-img{
    width: calc(50% - 8px);
    height: 18vw;
    border-radius: 12px;
    overflow: hidden;
}
.shopping-bag-product-text-box{
    width: calc(50% - 24px);
    padding-right: 16px;
    justify-content: space-between;
}
.shopping-bag-product-text-top{
    gap: 16px;
}
.shopping-bag-product-text-brand{
    margin-bottom: 8px;
    justify-content: space-between;
}
.shopping-bag-product-text-id,
.shopping-bag-product-text-more{
    gap: 8px;
}
.shopping-bag-product-text-more>p:last-child{
    color: #E54145;
}
.shopping-bag-details{
    gap: 8px;
    width: calc(11% - 17px);
    padding: 16px 0 16px 16px;
    border-right: 1px solid #1D1D1D3D;
    justify-content: end;
}
.shopping-bag-qty{
    width: calc(30% - 17px);
    padding: 16px 0 16px 16px;
    border-right: 1px solid #1D1D1D3D;
    align-items: end;
}
.shopping-bag-qty .shopping-bag-qty-minus,
.shopping-bag-qty .shopping-bag-qty-plus,
.shopping-bag-qty p{
    width: 48px;
    height: 48px;
    align-content: center;
    text-align: center;
}
.shopping-bag-total{
    gap: 8px;
    width: calc(12% - 17px);
    padding: 16px 0 16px 16px;
    justify-content: end;
}
.shopping-bag-qty-minus.disabled{
    pointer-events: none;
}
.shopping-bag-qty-minus>svg>path:last-child{
    opacity: 1;
    transition: .4s;
}
.shopping-bag-qty-minus.disabled>svg>path:last-child{
    opacity: .24;
    transition: .4s;
}
/*order*/
.shopping-bag-order-box{
    width: calc(20%);
}
.shopping-bag-order-head{
    width: 100%;
    gap: clamp(12px, 1vw, 48px);
    padding: 0 0 24px 16px;
    border-bottom: 1px solid #1D1D1D;
}
.shopping-bag-order-summary-polygon{
    width: 16px;
    height: 16px;
}
#shoppingBagOrderSummary-polygon{
    transition: .8s;
}
.shopping-bag-order-body{
    padding: 24px 0 0 16px;
    width: 100%;
    gap: 48px;
}
.shopping-bag-order-info-box{
    gap: 16px;
}
.shopping-bag-order-info-box>p:first-child{
    margin-bottom: 8px;
}
.shopping-bag-order-info-box > div{
    width: 100%;
    justify-content: space-between;
}
.shopping-bag-order-price-btn-box{
    gap: 16px;
}
.shopping-bag-order-price-btn-box>a.btn-primary{
    margin-bottom: 8px;
    width: calc(100% - 120px);
}
.shopping-bag-order-promo-box{
    width: 100%;
    gap: 24px;
}
.shopping-bag-order-input-box{
    width: 100%;
    gap: 16px;
}
.shopping-bag-promo-input{
    width: calc(100% - 48px - 32px - 16px);
}
.shopping-bag-id-gift-input{
    width: 100%;
}
.input-oninput.shopping-bag-promo-input{
    width: calc(100% - 48px - 54px - 16px);
}
.shopping-bag-order-promo-box,
.shoppingBagOrderSummarypanel1{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;

    flex-wrap: nowrap;
}
/*//////////////////////////////////////////////////////////////////////////*/
/* Доставка и оплата ////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////*/
.delivery-title{
    position: relative;
    width: calc(80%);
    margin-left: 20%;
    margin-bottom: 16px;
    align-items: end;
    gap: 48px;
    left: 0;
    transition: .9s;
}
.delivery-title ~ .bread-crumbs-top-title{
    width: calc(80%);
    margin-left: 20%;
}
.linear-delivery-payment{
    width: calc(20%);
    background-color: #1D1D1D3D;
    height: 1px;
    position: relative;
    transition: .9s;
    margin-bottom: 16px;
}
.linear-delivery-payment::before{
    content: '';
    width: 16px;
    background: #1D1D1D;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    left: -16px;
    bottom: -8px;
}
.linear-delivery-payment::after{
    content: '';
    width: 16px;
    background: #1D1D1D3D;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    right: -16px;
    top: -8px;
    transition: .9s;
}
.linear-delivery-payment.linear-delivery-payment-after::after{
    background: #1D1D1D;
    transition: .9s;
}
.delivery-main-box{
    width: calc(80%);
}
.delivery-head{
    padding: 0px 0px 24px 0px;
    border-right: 1px solid #1D1D1D3D;
    border-bottom: 1px solid #1D1D1D;
}
.delivery-payment-body{
    padding: 24px 0px 0px 0px;
    border-right: 1px solid #1D1D1D3D;
}
.delivery-body{
    max-height: 0;

    overflow: hidden;
    transition: max-width 0.4s ease-out, max-height 0.4s ease-out;
    flex-wrap: nowrap;
}
.delivery-email-box{
    width: calc(30%  - 16px);
    gap: 8px;
    margin-bottom: 48px;
}
.delivery-small-hint{
    gap: 8px;
    flex-wrap: nowrap;
    align-items: center;
}
.delivery-small-hint>div{
    width: 8px;
    height: 8px;
    background: #1D1D1D;
    min-width: 8px;
    min-height: 8px;
}
.delivery-small-hint>p{
    font-size: 12px;
    line-height: 16px;
}
.delivery-small-error-hint{
    gap: 8px;
    flex-wrap: nowrap;
    align-items: center;
    display: none;
}
.delivery-small-error-hint>div{
    width: 8px;
    height: 8px;
    background: #E54145;
    min-width: 8px;
    min-height: 8px;
    border-radius: 50%;
}
.delivery-small-error-hint>p{
    font-size: 12px;
    line-height: 16px;
}
.delivery-country-box{
    gap: 24px;
    width: calc(60%);
}
.delivery-country-body{
    width: calc(50% - 16px);
    gap: 8px;
    margin-bottom: 48px;
}
.delivery-address-box{
    gap: 16px;
    width: calc(60%);
    margin-bottom: 48px;
}
.delivery-address-head{
    width: calc(100%);
    margin-bottom: 8px;
}
.delivery-address-body-row{
    width: 100%;
    gap: 16px;
}
.delivery-address-body{
    width: calc(50% - 16px);
    gap: 8px;
}
.delivery-address-line-body{
    width: calc(100% - 16px);
    gap: 8px;
    flex-wrap: nowrap;
}
.delivery-btn-box{
    gap: 24px;
}
.delivery-btn-box>a.btn-primary{
    width: calc(30% - 16px - 120px)
}
.delivery-btn-box-more-info{
    gap: 8px;
}
.payment-body{
    width: calc(50%);
    margin: 0 auto;
    margin-left: 25%;
    gap: 48px;
    max-height: 0;
    flex-wrap: nowrap;
    overflow: hidden;
    transition: max-width 0.4s ease-out, max-height 0.4s ease-out;
}
.payment-top{
    gap: 24px;
}
.payment-top>p:last-child{
   font-size: 12px;
   line-height: 16px;
}
.payment-shipping{
    gap: 8px;
    justify-content: space-between;
}
.payment-variation-box{
    gap: 16px;
}
.payment-variation-box>p.body-large{
    margin-bottom: 8px;
}
.payment-variation-item{
    width: 100%;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
}
.payment-variation-radio-btn{
    width: calc(50% - 8px);
    gap: 12px;
    align-items: center;
}
.payment-variation-img-box{
    width: calc(50% - 8px);
    gap: 16px;
    align-items: center;
}
.payment-variation-img{
    width: 40px;
    height: 24px;
    border: 1px solid #1D1D1D3D;
    border-radius: 12px;
    padding: 8px;
}
.payment-shipping-address-box{
    gap: 24px;
}
.payment-shipping-address-checkbox{
    align-items: center;
    gap: 12px;
}
.payment-other-option-box{
    gap: 24px;
}
.payment-other-input-box{
    gap: 8px;
}
.payment-other-input-box textarea{
    width: calc(100% - 32px - 3px);
    height: 128px;
    position: relative;
    resize: vertical;
}
.payment-other-input{
    position: relative;
    height: max-content;
}
.payment-other-input-box .textarea-tre{
    border: 8px solid transparent; 
    border-right: 8px solid #1D1D1D;
    border-bottom: 8px solid #1D1D1D;
    position: absolute;
    bottom: 5px;
    right: -2px;
    pointer-events: none;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Поиск брендов/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.brands-title{
    margin-bottom: 16px;
}
.brands-title h2{
    width: calc(80%);
    margin-left: 20%;
}
.brands-left-box{
    width: 20%;
}
.brands-left-box>p{
    padding: 0 16px 24px 0;
    border-bottom: 1px solid #1D1D1D;
}
.brands-filter-box{
    padding: 48px 16px 0 0;
    gap: 48px;
}
.brands-view-all-box{
    width: 100%;
    gap: 8px;
}
.brands-all-filter-box{
    width: 100%;
    gap: 48px;
}
.brands-filter-item{
    gap: 8px;
}
.brands-filter-item>p{
    width: 100%;
    margin-bottom: 16px;
}
.brands-alphabet-box{
    width: 80%;
}
.brands-alphabet-string{
    width: 100%;
    justify-content: space-between;
    padding: 0 0 24px 0;
    border-bottom: 1px solid #1D1D1D;
}
.brands-alphabet-disabled{
    opacity: .48;
    pointer-events: none;
}
.brands-alphabet-result-box{
    width: 100%;
    padding: 48px 16px 0 0;
    gap: 48px;
}
.brands-alphabet-result-mini-box{
    gap: 48px;
}
.brands-alphabet-string-letter{
    gap: 16px;
    border-bottom: 1px solid #1D1D1D3D;
    padding-bottom: 24px;
}
.brands-alphabet-item{
    gap: 16px;
    width: calc(25% - 12px);
}
.brands-alphabet-item-disabled{
    opacity: .48;
    pointer-events: none;
}
.brands-alphabet-item-info{
    gap: 16px;
}
.brands-alphabet-item-info > p{
    width: calc(50% - 8px);
    white-space: nowrap;
}
.brands-name{
    gap: 12px;
    align-items: center;
}
.brands-name-circle{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #1D1D1D;
}
.brands-name-circle.brands-name-circle-none{
    display: none;
}
.brands-alphabet-string-letter.brands-alphabet-string-letter-none{
    display: none;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Информационный блок /////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.about-tab-box{
    gap: 0;
}
.about-tab-btn-box{
    width: 100%;
    margin-bottom: 64px;
    gap: 8px;
}
.about-first-tab-box{
    width: calc(25% - 8px);
    gap: 8px;
}
.about-center-tab-box{
    width: calc(50%);
    gap: 8px;
}
.info-tabcontent {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    justify-content: space-between;
    transition: .4s;
}
.info-left-box{
    width: 30%;
}
.info-right-box{
    width: 50%;
    gap: 64px;
}
.info-right-box{
    position: relative;
}
.info-right-box>div{
    gap: 24px;
}
.info-right-box>div>div{
    gap: 48px;
}
.info-right-box>div>div>div{
    gap: 16px;
}
.about-number-abs{
    position: absolute;
    left: -20px;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Информационный блок /////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.archive-blog-tab-box{
    gap: 0;
}
.archive-blog-tab-btn-box{
    width: 100%;
    margin-bottom: 64px;
    gap: 8px;
}
.archive-blog-first-tab-box{
    width: calc(25% - 8px);
    gap: 8px;
}
.archive-blog-center-tab-box{
    width: calc(50%);
    gap: 8px;
}
.archive-blog-last-tab-box{
    width: calc(25% - 8px);
    gap: 8px;
}
.archive-blog-category{
    width: calc(20% - 8px);
    gap: 32px;
}
.archive-blog-category-chips-box{
    gap: 8px;
}
.archive-blog-box{
    width: 100%;
    gap: 16px;
}
.archive-blog-big-box{
    width: 100%;
    gap: 16px;
    margin-bottom: 40px;
}
.archive-blog-big-item{
    width: calc(50% - 8px);
    gap: 8px;
}
.archive-blog-img{
    width: 100%;
    height: 45vw;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 16px;
}
.archive-blog-img-text{
    position: absolute;
    bottom: 48px;
    left: 48px;
    right: 48px;
}
.archive-blog-img-text>p:nth-child(1){
    color: #FFFFFF;
    margin-bottom: 24px;
}
.archive-blog-img-text>h2:nth-child(2){
    color: #FFFFFF;
    width: 100%;
    text-align: left;
}
.archive-blog-img-text>h2:nth-child(3){
    color: #FFFFFF;
    width: 100%;
    text-align: right;
}
.archive-blog-img-text>h2:nth-child(4){
    color: #FFFFFF;
    width: 100%;
    text-align: center;
}
.archive-blog-top-tb{
    width: calc(80%);
    margin-left: 20%;
    justify-content: space-between;
}
.archive-blog-bottom-tb{
    width: calc(80%);
    margin-left: 20%;
    justify-content: space-between;
    padding-bottom: 24px;
}
.archive-blog-small-box{
    width: calc(80% - 8px);;
    gap: 16px;
    justify-content: end;
}
.archive-blog-small-item{
    width: calc(25% - 12px);
    gap: 8px;
}
.archive-blog-small-item .archive-blog-img{
    height: 20vw;
}
.archive-blog-small-item .archive-blog-img-text{
    top: 16px;
    bottom: 16px;
    left: 16px;
    right: 16px;
    justify-content: end;
}
.archive-blog-small-item .archive-blog-img-text>p:nth-child(1){
    color: #FFFFFF;
    margin-bottom: 24px;
    position: absolute;
    top: 0;
}
.archive-blog-small-item  .archive-blog-img-text>p:nth-child(2){
    color: #DEA83F;
    width: 100%;
    text-align: left;
}
.archive-blog-small-item .archive-blog-img-text>p:nth-child(3){
    color: #DEA83F;
    width: 100%;
    text-align: right;
}
.archive-blog-small-item .archive-blog-img-text>h2:nth-child(4){
    color: #DEA83F;
    width: 100%;
    text-align: right;
}
.archive-blog-small-item .archive-blog-top-tb{
    width: calc(100%);
    margin-left: 0;
    justify-content: space-between;
}
.archive-blog-small-item .archive-blog-bottom-tb{
    width: calc(100%);
    margin-left: 0;
    justify-content: space-between;
    padding-bottom: 24px;
}
.archive-blog-small-item .archive-blog-bottom-tb>p:last-child{
    display: none;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Запись блога /////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.single-blog-box-title{
    margin-bottom: 48px;
}
.single-blog-img-title{
    gap: 24px;
    justify-content: end;
    align-items: end;
    margin-bottom: 48px;
}
.single-blog-main-img{
    height: 50vw;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}
.single-blog-main-img p{
    color: #FFFFFF;
}
.single-blog-main-img h2{
    color: #FFFFFF;
}
.single-blog-main-img h3{
    color: #FFFFFF;
}
.single-blog-img-top-txt{
    position: absolute;
    top: 24px;
    left: 48px;
    right: 48px;
    justify-content: space-between;
}
.single-blog-img-bottom-txt{
    position: absolute;
    bottom: 64px;
    left: 48px;
    right: 48px;
    gap: 64px;
}
.single-blog-img-bottom-txt>div{
    width: calc(50% - 32px);
    justify-content: flex-end;
}
.single-blog-img-bottom-txt>div>h2:nth-child(1){
    width: 100%;
    text-align: left;
}
.single-blog-img-bottom-txt>div>h2:nth-child(2){
    width: 100%;
    text-align: right;
}
.single-blog-img-bottom-txt>div>h2:nth-child(3){
    width: 100%;
    text-align: center;
}
.single-blog-title-bread{
    width: calc(50% - 32px);
}
.single-blog-tabcontent {
    justify-content: space-between;
    transition: .4s;
}
.single-blog-left-box{
    width: 30%;
}
.single-blog-left-box>p.sub-headline{
    margin-bottom: 24px;
}
.single-blog-right-box{
    width:  calc(50% - 32px);
    gap: 64px;
}
.single-blog-right-box{
    position: relative;
}
.single-blog-right-box>div{
    gap: 24px;
}
.single-blog-right-box>div>div{
    gap: 48px;
}
.single-blog-right-box>div>div>div{
    gap: 16px;
}
.single-blog-number-abs{
    position: absolute;
    left: -20px;
}
.single-blog-right-img-box{
    gap: 0px;
}
.single-blog-right-img{
    width: 100%;
    height: 45vw;
    position: relative;
}
.single-blog-right-img img{
    border-radius: 12px;
}
.single-blog-right-img-circle{
    width: 14px;
    height: 14px;
    position: absolute;
    left: -20px;
}
.single-blog-right-img-box>p{
    padding: 24px 0;
    margin-left: 20%;
}
.single-blog-input-box{
    gap: 48px;
    margin-top: 48px;
}
.single-blog-social-main-box{
    gap: 24px;
    width: 40%;
    margin-left: calc(50% + 32px);
}
.single-blog-social-box{
    gap: 16px;
}
.single-blog-social{
    width: 24px;
    height: 24px;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #1D1D1D3D;
}
.single-blog-comment-box{
    gap: 24px;
    width: 40%;
    margin-left: calc(50% + 32px);
}
.single-blog-comment-item{
    gap: 8px;
}
.single-blog-comment-title{
    gap: 8px;
}
.single-blog-comment-title>p:last-child{
    font-size: 14px;
}
.single-blog-new-comm{
    gap: 24px;
    width: 40%;
    margin-left: calc(50% + 32px);
}
.single-blog-your-name-box{
    gap: 16px;
}
.single-blog-input{
    width: 100%;
    gap: 8px;
}
.single-blog-textarea{
    width: calc(100%);
    position: relative;
    resize: vertical;
}
.single-blog-textarea textarea{
    width: calc(100% - 32px);
    height: calc(100% - 24px);
    position: relative;
    resize: vertical;
}
.single-blog-textarea .textarea-tre{
    border: 8px solid transparent; 
    border-right: 8px solid #1D1D1D;
    border-bottom: 8px solid #1D1D1D;
    position: absolute;
    bottom: 5px;
    right: -3px;
    pointer-events: none;
}
.single-blog-btn-box{
    gap: 16px;
    width: 40%;
    margin-left: calc(50% + 32px);
}
.single-blog-btn-box a{
    width: calc(50% - 8px - 120px);
}